<div class="csl-bib-body">
  <div class="csl-entry"><i>BIRS workshop “Advances in Theoretical and Experimental Methods for Analyzing Complex Regulatory Networks”</i> (2020; <u>Invited Talk</u>) at BIRS (Banff, Canada). (<a href="http://www.birs.ca/events/2020/5-day-workshops/20w5162/videos/watch/202002180845-Julou.html" target="_blank">video</a>)</div>
  <div class="csl-entry"><i>Séminaire du LiPhy</i> (2019) at Univ. Grenoble Alpes (France).</div>
  <div class="csl-entry"><i>q-bio Conference</i> (2019) at San Francisco (USA).</div>
  <div class="csl-entry"><i>Workshop “Information Processing in Single Cells”</i> (2019) at Aspen Center for Physics (USA).</div>
  <div class="csl-entry"> <i>2nd SPP1617 International Conference "Phenotypic heterogeneity and sociobiology of bacterial populations"</i> (2019; <u>Invited Talk</u>), at Schloss Hohenkammer (Germany).</div>
  <div class="csl-entry"> <i>EMBO workshop "Bacterial Persistence & Antimicrobial Therapy"</i> (2018; Poster), at Ascona (Switzerland).</div>
  <div class="csl-entry"><i>IS2M Annual Meetings: Microfluidics in Upper Rhine Valley</i> (2018), at Université de Haute Alsace (France).</div>
  <div class="csl-entry"><i>Institute Seminar</i> (2018) at Institute of Cell Biology & SynthSys, University of Edinburgh (UK).</div>
  <div class="csl-entry"><i>FriSBi seminar</i> (2018) at IST (Austria).</div>
  <div class="csl-entry"><i>Principles of microbial adaptation</i> (2018; Poster) at Lorentz Center, Leiden (NL).</div>
  <div class="csl-entry"><i>EMBO workshop “Optimizations and trade-offs in cellular growth and survival”</i> (2018) at Weizmann Institute (Israel).</div>
  <div class="csl-entry"><i>Quantitative Methods in Gene Regulation IV</i> (2017) at Cambridge (UK).</div>
  <div class="csl-entry"><i>Basel Computational Biology Conference [BC]2</i> (2017) at Basel (Switzerland).</div>
  <div class="csl-entry"><i>Eco-Evolutionary Dynamics in Nature and the Lab</i> (2017) at KITP, Santa Barbara (USA). (<a href="http://online.kitp.ucsb.edu/online/ecoevo17/julou/" target="_blank">video</a>)</div>
  <div class="csl-entry"><i>New Approaches and Concepts in Microbiology</i> (2017; Poster) at EMBL, Heidelberg (Germany).</div>
  <div class="csl-entry"><i>Biozentrum Symposium</i> (2017; Poster) at Basel (Switzerland).</div>
  <div class="csl-entry"><i>Quantitative Laws Summer School</i> (2016) at Como (Italy).</div>
  <div class="csl-entry"><i>Microbiology Department Seminar</i> (2016) at UNIGE, Genève (Switzerland).</div>
  <div class="csl-entry"><i>Rigi Workshop</i> (2016; Poster) at Luzern (Switzerland).</div>
  <div class="csl-entry"><i>Biozentrum Symposium</i> (2016; Poster) at Basel (Switzerland).</div>
  <div class="csl-entry"><i>New Approaches and Concepts in Microbiology</i> (2015; Poster) at EMBL, Heidelberg (Germany).</div>
  <div class="csl-entry"><i>Experimental Approaches to Evolution &amp; Ecology</i> (2014; Poster) at EMBL, Heidelberg (Germany).</div>
  <div class="csl-entry"><i>Computational Biology Seminar</i> (2014) at ETH Zürich (Switzerland).</div>
  <div class="csl-entry"><i>Institute Seminar</i> (2013) at IGBMC, Strasbourg (France).</div>
  <div class="csl-entry"><i>New Approaches and Concepts in Microbiology</i> (2013; 2 Posters!!) at EMBL, Heidelberg (Germany).</div>
  <div class="csl-entry"><i>Experimental Approaches to Evolution &amp; Ecology</i> (2012; Poster) at EMBL, Heidelberg (Germany).</div>
  <div class="csl-entry"><i>Seminaire du LiPhy</i> (2011) at Univ. Joseph Fourier, Grenoble (France).</div>
  <div class="csl-entry"><i>Paris-Zürich Young Scientists Symposium in Applied Microscopy</i> (2011) at ETH Zürich (Switzerland).</div>
  <div class="csl-entry"><i>MMEMS conference “Evolution of Microbial Cooperation”</i> (2011; Poster) at University of Bath (UK).</div>
  <div class="csl-entry"><i>Between unicellularity and multicellularity: microbes in interaction</i> (2010) at Institut des Systèmes Complexes, Paris (France).</div>
  <div class="csl-entry"><i>The Evolution of Cooperation: Paradoxes of Collectivity &amp; Individuality</i> (2010) at Indiana University, Bloomington (USA).</div>
  <div class="csl-entry"><i>102nd Statistical Mechanics Conference</i> (2009) at Rutgers University (USA).</div>
  <div class="csl-entry"><i>Journées du LPS</i> (2008) at ENS, Paris (France).</div>
  <div class="csl-entry"><i>New perspectives on the systematics &amp; ecology of Orchids</i> (2004) at Univ. P. Sabatier, Toulouse (France).</div>
  <div class="csl-entry"><i>5ème Rencontres de Mycopathologie J. Chevaugeon</i> (2004) at Aussois (France).</div>
</div>