<div class="csl-bib-body" style="line-height: 1.35; margin-left: 2em; text-indent:-2em;">
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Basel Computational Biology Conference [BC]2</i> (2017) at Basel (Switzerland).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Eco-Evolutionary Dynamics in Nature and the Lab</i> (2017) at KITP, Santa Barbara (USA). (<a href="http://online.kitp.ucsb.edu/online/ecoevo17/julou/">link</a>)</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>New Approaches and Concepts in Microbiology</i> (2017; Poster) at EMBL, Heidelberg (Germany).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Biozentrum Symposium</i> (2017; Poster) at Basel (Switzerland).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Quantitative Laws Summer School</i> (2016) at Como (Italy).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Microbiology Department Seminar</i> (2016) at UNIGE, Genève (Switzerland).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Rigi Workshop</i> (2016; Poster) at Luzern (Switzerland).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Biozentrum Symposium</i> (2016; Poster) at Basel (Switzerland).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>New Approaches and Concepts in Microbiology</i> (2015; Poster) at EMBL, Heidelberg (Germany).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Experimental Approaches to Evolution &amp; Ecology</i> (2014; Poster) at EMBL, Heidelberg (Germany).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Computational Biology Seminar</i> (2014) at ETH Zürich (Switzerland).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Institute Seminar</i> (2013) at IGBMC, Strasbourg (France).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>New Approaches and Concepts in Microbiology</i> (2013; 2 Posters!!) at EMBL, Heidelberg (Germany).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Experimental Approaches to Evolution &amp; Ecology</i> (2012; Poster) at EMBL, Heidelberg (Germany).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Seminaire du LiPhy</i> (2011) at Univ. Joseph Fourier, Grenoble (France).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Paris-Zürich Young Scientists Symposium in Applied Microscopy</i> (2011) at ETH Zürich (Switzerland).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>MMEMS conference “Evolution of Microbial Cooperation”</i> (2011; Poster) at University of Bath (United Kingdom).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Between unicellularity and multicellularity: microbes in interaction</i> (2010) at Institut des Systèmes Complexes, Paris (France).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>The Evolution of Cooperation: Paradoxes of Collectivity &amp; Individuality</i> (2010) at Indiana University, Bloomington (USA).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>102nd Statistical Mechanics Conference</i> (2009) at Rutgers University (USA).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>Journées du LPS</i> (2008) at ENS, Paris (France).</div>
  <div class="csl-entry" style="margin-bottom: 1em;"><i>New perspectives on the systematics &amp; ecology of Orchids</i> (2004) at Univ. P. Sabatier, Toulouse (France).</div>
  <div class="csl-entry"><i>5ème Rencontres de Mycopathologie J. Chevaugeon</i> (2004) at Aussois (France).</div>
</div>